{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Table IP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="post" class="role">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Table public IP
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">     
                                <button class="btn btn-success" name="enviar" type="submit">Save</button>
                                <br><br>
                                <label>Choose the Group to be apply change</label>
                                    <select class="form-control" name="ip">
                                        {% for grupo in grupos %}
                                            <option value="{{ grupo.descripcion }}">{{ grupo.descripcion }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Instructions
                    </div>
                    <div class="panel-body small">
                        <p>Select the IP to which you want to apply the change.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    function myFunction() {
        alert("The ip has been saved");
    }
</script>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}