</div>
<br><br>
<footer class="footer">
    <div class="container text-center">
        <span>Warriors lab's <sup>©</sup> Todos los Derechos Reservados.</span>
    </div>
</footer>
<script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset ('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/sb-admin.js') }}"></script>